@use "./base.scss";

.page-title { // Оранжевая кнопка Xiaomi
  background-color: #ff6600; // Фирменный оранжевый Xiaomi
  padding: 8px 10px;         // Отступы
  border-radius: 10px;        // Скруглил углы
  align-items: center;       /* Центровка по вертикали */
  justify-content: center;   /* Центровка по горизонтали */   
  line-height: 1;            /* Убираем лишнюю высоту строки */

  a { 
    color: white !important;         
    text-decoration: none !important; 
    font-size: 1.0rem;                             
    display: block;                  /* Чтобы ссылка занимала всё место внутри */
    margin: 0;                       /* Обнуляем внешние отступы ссылки */
    padding: 0;                      /* Обнуляем внутренние отступы ссылки */
    text-align: center;              /* Дополнительная страховка */

    &:hover {
      color: #eeeeee !important;      
    }
  }
}

.darkmode {/* Отступ для иконки переключения темы (солнце) */
  margin-right: 0px; /* Регулируй это число, чтобы отодвинуть от края */
  
  @media all and (max-width: 800px) {
    margin-right: 2px; /* Отступ специально для мобильной версии */
	margin-top: 4px
  }
}

/* --- Настройка Поиска --- */
.search {
  // 1. Сама кнопка поиска (то, что мы видим в шапке)
  & > button {
    border-radius: 10px !important;    // Скругление 12px (как у логотипа)
    
    padding: 0 8px !important;         // Отступы внутри
    background-color: var(--lightgray); // Светло-серый фон
    border: 1px solid var(--gray);       // Тонкая рамка
    display: flex;
    align-items: center;
    gap: 4px;                           // Расстояние между лупой и текстом
    transition: all 0.2s ease;

    &:hover {
      border-color: #ff6600;            // Оранжевая рамка при наведении
      background-color: var(--gray);    // Чуть темнее при наведении
    }
  }
}